*{
	padding: 0;
	margin: 0;
}

ul,li,ol{
	list-style: none;     
}

a{
	text-decoration: none;
}

.first{
	height: 173px;
	background-color: #eeeeef
}

.second{
	text-align: center;
	height: 125px;
}

.second img{
	margin-top: 30px;
}

.third{
	width: 670px;
	height: 45px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 23px;
}

.third li{
	float: left;
	height: 45px;
	background: url(../images/22.png) no-repeat right center;
	padding: 0 30px;
	line-height: 45px;
	font-size: 12px;
	font-family: 微软雅黑;
}
.third li a{
	display:block;
	height: 42px;
    color:black;
    border-bottom:solid 3px #1e50ae;
}

.third li:forth{
	background: none;
}

.fifth{
	width: 100%;
	height: 405px;
	background: url(../images/23.png) no-repeat center center;
}

.a{
	height: 810px;
	width: 100%
}

.b{
	width: 100%;
	height: 195px;
}

.b p{
	text-align:center;
	font-size: 34px;
}

.c{
	width:100%;
	height:615px;
}

.c-1{
    height:365px;
    width:266px;
	margin-left:180px;
	float:left;
}

.c-1 img{
	padding-left: 69px;
	margin-top:10px;
}

.c-1 li{
	font-size: 14px;
	font-family: 微软雅黑;
	color:rgb(144,144,144);
	margin-left:106px;
    padding-top:12px;
	list-style-image: url(../images/24.png);
	list-style-position:inside;
}

.c-1 p{
	padding-left:108px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.c-2{
	height:365px;
	width:335px;
	float:left;
}

.c-2 img{
	padding-left: 110px;
	margin-top:10px;
}

.c-2 li{
	font-size: 14px;
	font-family: 微软雅黑;
	color:rgb(144,144,144);
	margin-left:149px;
	padding-top:15px;
	list-style-image: url(../images/24.png);
	list-style-position:inside;
}

.c-2 p{
	padding-left:149px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.c-3{
	height:365px;
    width:337px;
	float:left;
}

.c-3 img{
	padding-left: 80px;
	margin-top:10px;
}

.c-3 li{
	font-size: 14px;
	font-family: 微软雅黑;
	color:rgb(144,144,144);
	margin-left:116px;
	padding-top:15px;
	list-style-image: url(../images/24.png);
	list-style-position:inside;
}

.c-3 p{
	padding-left:122px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.c-4{
	height:365px;
    width:265px;
	float:left;
}

.c-4 img{
	margin-left: 51px;
	margin-top:10px;
}

.c-4 li{
	padding-top:15px;
	margin-left:88px;
	padding-top:15px;
	list-style-image: url(../images/24.png);
	list-style-position:inside;
}

.c-4 p{
	padding-left:91px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.d-1{
	height:250px;
    width:266px;
	margin-left:180px;
	float:left;
}

.d-1 img{
	padding-left: 69px;
	padding-top: 15px;
}

.d-1 p{
	padding-left:86px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.d-2{
	height:250px;
    width:335px;
	float:left;
}

.d-2 img{
	padding-left: 109px;
	padding-top: 15px;
}

.d-2 p{
	padding-left:142px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.d-3{
	height:250px;
    width:337px;
	float:left;
}

.d-3 img{
	padding-left: 80px;
	padding-top: 15px;
}

.d-3 p{
	padding-left:103px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.d-4{
	height:250px;
    width:265px;
	float:left;
}

.d-4 img{
	padding-left: 49px;
	padding-top: 15px;
}

.d-4 p{
	padding-left:97px;
	font-size: 16px;
	font-family: 微软雅黑;
	color:#000;
}

.sixth{
	height:710px;
	background: url(../images/25.png) no-repeat center center
}

.seventh{
	height:100%;
	width:1200px;
	text-align: center;
	margin: 0 auto;
}

.eighth{
	font-size: 34px;
	color: #fff;
	padding-top: 63px;
	padding-bottom: 24px;
	text-align: center;
}

}
.seventh-1{
	width: 1200px;
	height: 100%;
	float: left;
	margin-top:75px;
}

}
.ninth-1{
	margin-left: 34px;
	margin-right: 51px;
	float: left;
}
.ninth-2{
	margin-right: 42px;
	float: left;
}
.ninth-3{
	margin-right: 51px;
	float: left;
}
.tenth button{
	width: 230px;
	height: 50px;
	font-size: 20px;
	color: #fefefe;
	background: none;
	border-radius: 25px;
	border: 1px solid #fff;
	margin: 79px auto 64px auto;
}

.eleventh{
	width: 100%;
	height: 490px;
	background-color: #fff;

}
.twelfth{
	width: 100%;
	height: 190px;
	margin: 0 auto;
}
.thirteenth h1{
	padding-top: 58px;
	font-size: 34px;
	font-weight: normal;
	padding-bottom: 24px;
	text-align: center;
}
.thirteenth p{
	font-size: 25px;
	padding-bottom: 41px;
	text-align: center;
}

.thirteenth{
	width: 1300px;
	height: 293px;
	margin-bottom: 85px;
	
}
.aa{
	float: left;
	margin-left: 230px;
	margin-right: 81px;
	
}
.bb{
	padding-left: 105px;
	padding-right: 81px;
	display:inline;
	
}
.bb p{
	font-size: 13px;
	font-weight: normal;
	color: #d9d9d9;
	padding-bottom: 20px;
	float:left;
}
.cc button{
	border-radius: 20px;
	border: 1px solid #a3b5db;
	width: 138px;
	height: 39px;
	font-size: 16px;
	font-weight: normal;
	color: #3254aa;
	background: none;
	margin-top: 10px;
	margin-right:90px;	
}
.fourteenth{
	width: 100%;
	height: 435px;
}
.aaa{
	padding-left: 240px;
	float: left;
}
.aaa li{
	border-bottom: 1px dashed #dcdcdc;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 18px;
	color: #797979;
	padding-top: 17px;
}
.bbb{
	padding-left: 65px;
	float: left;
}
.bbb li{
	border-bottom: 1px dashed #dcdcdc;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 18px;
	color: #797979;
	padding-top: 17px;
}
.fifteenth{
	width: 100%;
	height: 102px;
	background-color: #f5f5f5;
}

.aaaa{
	width: 1200px;
	height: 102px;
	background-color: #f5f5f5;
	margin:0 auto;
}
.aaaa div{
	float: left;
	width: 300px;
	height: 102px;
}
.aaaa img{
	margin-left: 48px;
	margin-top: 27px;
	margin-right: 22px;
	float: left;
}
.aaaa div p{
	border-right: 2px solid #e0e0e0 ;
}
.aaaa div p:last-child{
	border-right: none;
}
.bbbb{
	width: 300px;
	height: 102px;
	background-color: #f5f5f5;
	float: left;
}
.zero-1{
	margin-top: 28px;
	padding-bottom: 5px;
	font-size: 19px;
	font-weight: lighter;
	color: #4f4f4f;
	padding-right: 104px;
	float: left;
}
.zero-2{
	color: #4f4f4f;
	font-size: 11px;
	font-weight: lighter;
	float: left;
	margin-bottom: 2px;
}
.cccc{
	width: 300px;
	height: 102px;
	background-color: #f5f5f5;
	float: left;
}
.dddd{
	width: 300px;
	height: 102px;
	background-color: #f5f5f5;
	float: left;
}
.eeee{
	width: 300px;
	height: 102px;
	background-color: #f5f5f5;
	float: left;
}
.sixteenth-1{
	width: 100%;
	height: 387px;
	background-color: #323232;
}
.sixteenth-2{
	width: 1200px;
	height: 217px;
	margin: 0 auto 43px auto;
}
.aaaaa{
	float: left;
	margin-right: 106px;
	margin-top: 75px;
}
.aaaaa-1{
	font-size: 18px;
	font-weight: lighter;
	padding-bottom: 31px;
}
.aaaaa-2{
	font-size: 12px;
	font-weight: lighter;
	padding-bottom: 22px;
}
.aaaaa-3{
	font-size: 12px;
	font-weight: lighter;
}
.seventeenth{
	width: 237px;
	height: 170px;
	float: left;
	margin-top: 71px;
	margin-right: 39px;
}
.seventeenth img{
	float: left;
	margin-right: 36px;
}
.seventeenth p{
	color: #fff;
	padding-bottom: 6px;
	font-size: 18px;
	font-weight: lighter;
	border-right: 1px solid #9c9c9c;
	padding-right: 36px;
}
.eithteenth{
	width: 210px;
	height: 128px;
	margin-top: 89px;
	float: left;
}
.aaaaaa-1{
	font-size: 18px;
	font-weight: lighter;
	padding-bottom: 23px;
	color: #f5f5f5;
}
.aaaaaa-2{
	list-style-image: url('../images/26.png');
	font-size: 16px;
	font-weight: lighter;
	color: #f5f5f5;
	list-style-position: inside;
	padding-bottom: 20px;
}
.aaaaaa-3{
	list-style-image: url('../images/27.png');
	list-style-position: inside;
	font-size: 16px;
	font-weight: lighter;
	color: #f5f5f5;
}
.nineteenth{
	width: 756px;
	height: 15px;
	margin: 37px auto 25px auto;
}
.nineteenth li{
	float: left;
	padding: 0 13px;
	border-right: 1px solid #929292;
}
.nineteenth li>a{
	color: #f5f5f5;
	font-size: 14px;
	font-weight: lighter;
}
.twentieth{
	font-size: 14px;
    font-weight: lighter;
    padding-bottom: 35px;
    text-align: center;
    color: #f5f5f5;
}